//@import "jquery.fullPage.css";
body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: Ubuntu;
    src: url(../fonts/Ubuntu-Regular.ttf);
}

@font-face {
    font-family: Ubuntu;
    src: url(../fonts/Ubuntu-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Ubuntu;
    src: url(../fonts/Ubuntu-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: Ubuntu;
    src: url(../fonts/Ubuntu-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: IBMPlexSans;
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: IBMPlexSans;
    src: url(../fonts/OpenSans-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: IBMPlexSans;
    src: url(../fonts/OpenSans-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/OpenSans-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Italic.ttf);
    font-style: italic;
}

h1,
h2,
h3 {
    font-family: Ubuntu;
}

h2 {
    font-size: 2.3rem;
    font-weight: normal;
    text-align: center;
}

body {
    font-family: OpenSans;
}

.container {
    width: 1200px;
    margin: 0 auto;
    height: 100%;
}

.background {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.section {
    position: relative;
}

#stat {
    .background {
        display: flex;
        .blue,
        .orange {
            height: 100%;
            width: 50%;
        }
        .blue {
            background: rgb(250, 250, 250);
            background: -moz-linear-gradient(left, rgba(250, 250, 250, 1) 0%, rgba(250, 250, 250, 1) 99.2%, rgba(66, 133, 244, 1) 100%);
            background: -webkit-linear-gradient(left, rgba(250, 250, 250, 1) 0%, rgba(250, 250, 250, 1) 99.2%, rgba(66, 133, 244, 1) 100%);
            background: linear-gradient(to right, rgba(250, 250, 250, 1) 0%, rgba(250, 250, 250, 1) 99.2%, rgba(66, 133, 244, 1) 100%);
        }
    }
    .container {
        display: flex;
        flex-flow: row nowrap;
        position: relative;
        h2 {
            position: absolute;
            left: 0;
            right: 0;
            text-align: center;
        }
        .metrika,
        .pagespeed {
            width: 50%;
            display: flex;
            align-items: center;
        }
        .metrika {
            justify-content: flex-start;
        }
        .center {
            width: 32.1rem;
            height: 28rem;
        }
        .pagespeed {
            font-family: Roboto;
            font-size: 1rem;
            justify-content: flex-end;
            padding-right: 2rem;            
            a {
                color: #039be5;
            }
            .top {
                display: flex;
                margin-top: 1.5rem;
                margin-bottom: 1rem;
                .result {
                    margin-right: 3.5rem;
                    display: flex;
                    align-items: center;
                }

                .name {
                    margin-left: .6rem;
                    font-size: 1.6rem;
                    text-align: center;
                }
                .value {
                    font-family: OpenSans;
                    padding: 0.2rem 0.6rem;
                    text-align: center;
                    font-size: 1.6rem;
                    color: white;
                    background: #009a2b;
                }
            }
            .disclaimer {
                margin-top: 2rem;
            }
            span {
                color: #777;
                font-style: italic;
            }
            .line {
                margin-left: -100rem;
                margin-right: -1.9rem;
                box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
                background: #4285f4;
                color: white;
                padding-right: 20rem;
                display: flex;
                justify-content: flex-end;
            }
        }
    }
}